/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #0a0a0f; /* fundo escuro */
  color: #fff;
  text-align: center;
  line-height: 1.6;
}

/* Header */
header {
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 217, 255, 0.4);
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1rem;
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px auto;
  flex-wrap: wrap;
}

/* Card dos integrantes */
.card {
  background: #111;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 46, 136, 0.3);
  width: 220px;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 30px rgba(0, 217, 255, 0.6);
}

.card img {
  width: 150px;          
  height: 150px;
  object-fit: cover;        
  border-radius: 50%;        
  border: 3px solid #ff2e88; 
  margin-bottom: 15px;
}

.card h2 {
  margin: 10px 0;
  color: #00d9ff; 
  font-size: 1.2rem;
}

.card a {
  text-decoration: none;
}

.change-mode{
  display: flex;
  justify-content: end;
}

.change-color{
  background-color: blue; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 500px;
  justify-content: center;
  align-items: center;
}

.selection-section{
  display: flex;
  justify-content: center;
}

.connect{
  padding: 10px;
  border-radius: 10px;
}

