* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}



#main {
    flex: 1;
    padding: 2rem;
    background-color: #121212;
    text-align: center;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}